# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Catch all nested __pycache__ directories
**/__pycache__/

# Virtual environment
venv/
.env

# Django stuff
db.sqlite3
media/
static/

# IDE files
.vscode/
.idea/
